body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Catamaran", sans-serif;
}

.container-dashboard {
  margin-top: 20px;
}

.box-details {
  width: 80%;
}

.month-card {
  background-color: #6c4cc7;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #fff;
  margin: 10px;
  flex: 1;
  min-width: 120px;
}

.stat-card,
.profit-card {
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profit-card {
  background-color: #fff;
  color: #6c4cc7;
}

.stat-card {
  background-color: #ff8f00;
  color: #fff;
  margin-left: 20px;
}

.profit-card,
.stat-card {
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chart-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  margin: 15px 0;
}

.chart-card h6 {
  color: #6c4cc7;
}

.pie-chart {
  width: 100%;
  height: 200px;
  background-color: #6c4cc7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 15px;
}

.chart-box {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doughnut-box {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .month-card {
    flex: 1 1 30%;
    margin: 10px;
  }

  .stat-card,
  .profit-card {
    flex: 1 1 100%;
    margin: 10px 5px;
  }

  .chart-box {
    height: 200px;
  }

  .doughnut-box {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .month-card {
    flex: 1 1 45%;
    margin: 5px;
  }

  .stat-card,
  .profit-card {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .chart-box {
    height: 150px;
  }

  .doughnut-box {
    height: 120px;
  }
}
