body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #fff;
}

.container-dashboard {
    margin-top: 20px;
}

.box-details {
    width: 80%;
}

.month-card {
    background-color: #6c4cc7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    /* margin: 5px; */
}

.stat-card {
    background-color: #ff8f00;
    color: #fff;
}

.profit-card {
    background-color: #fff;
    color: #6c4cc7;
}

.profit-card, .stat-card {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}


.chart-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    margin: 10px 0;
}

.chart-card h6 {
    color: #6c4cc7;
}

.pie-chart {
    width: 100%;
    height: 200px;
    background-color: #6c4cc7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
}

.chart-box {
    height: 250px;
}

.doughnut-box {
    height: 200px;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .month-card {
        flex: 1 1 30%;
    }

    .chart-box {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .month-card {
        flex: 1 1 45%;
    }

    .stat-card, .profit-card {
        flex: 1 1 100%;
    }

    .chart-box {
        height: 150px;
    }
}